@import "configs/scss/scss-variables.scss";

.article-item-component {
  border-radius: 10px;
  &:hover {
    transform: translateY(-5px);
  }
  figure {
    margin: 0;
    max-height: 220px;
    overflow: hidden;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    position: relative;
  }
  img {
    width: 100%;
  }
  figcaption {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
  h3 {
    color: white;
    padding: 0.75rem;
    font-size: 1.25rem;
  }
  .wrap-description {
    padding: 0.5rem 0.75rem;
  }
  p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    line-height: 1.5;
    color: $primary-text;
    word-break: break-all;
    &.description {
      font-size: 13px;
      height: 60px;
      overflow: hidden;
      // white-space: nowrap;
      // overflow: hidden;
      // text-overflow: ellipsis;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }
    &.subtitle {
      color: brown;
      height: 30px;
    }
  }
  a {
    text-decoration: underline !important;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    color: #F26623;
    text-align: center;
    display: inline-block;
    transition: all 0.3s;
  }

}