@import "./configs/scss/scss-variables.scss";

body {
  margin: 0;
  background-color: #ccc;
  font-family: 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
   
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  &:hover {
    opacity: 0.6;
  }
}
